services:
  mongodb:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db

  valkey:
    image: valkey/valkey:alpine
    command: valkey-server --save 60 1 --loglevel warning --notify-keyspace-events Ex
    volumes:
      - ./data/valkey:/data
    ports:
      - "6379:6379"

  server:
    build: ./server
    ports:
      - "5000:5000"
    env_file:
      - ./server/.env
    environment:
      - VALKEY_URL=redis://valkey:6379
      - MONGO_URI=mongodb://mongodb:27017/byteporter
      - PORT=5000
    depends_on:
      - mongodb
      - valkey
    volumes:
      - uploads_data:/app/uploads

  client:
    build: ./client
    ports:
      - "3000:80"
    environment:
      - REACT_APP_API_URL=http://localhost:5000
    depends_on:
      - server
    stdin_open: true # Needed for react-scripts start
    tty: true # Needed for react-scripts start

volumes:
  mongodb_data:
  uploads_data:
